#form-body {
  background-color: #7dd8fa;
  margin: 10px;
  padding: 30px;
  width: 23%;
  left: 35%;
  border: 3px solid black;
  border-radius: 10px;
  position: absolute;
}

#welcome {
  position: relative;
  left: 35%;
}

.input-fields {
  width: 100%;
  height: 2rem;
  position: relative;
  left: 1%;
  border: 2px solid gray;
  transition-duration: 1s;
  border-radius: 3px;
}

.input-fields:hover {
  border-radius: 0px;
  border: 3px solid black;
  background-color: gray;
  border-radius: 10px;
}

#button-smt {
  position: relative;
  left: 2px;
  border: 2px solid black;
  border-radius: 3px;
  width: 6rem;
  height: 2rem;
  transition-duration: 1s;
  top: 5px;
}

#button-smt:hover {
  background-color: black;
  color: white;
  border-radius: 8px;
}
